# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [2]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

df = pd.read_csv('jeopardy.csv')

df.columns = ['show_number', 'air_date', 'round', 'category', 'value', 'question', 'answer']
print(df.head(10))

   show_number    air_date      round                         category value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200
5         4680  2004-12-31  Jeopardy!                   3-LETTER WORDS  $200
6         4680  2004-12-31  Jeopardy!                          HISTORY  $400
7         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $400
8         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $400
9         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $400

                                                                                                        question  \
0               For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1    No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                       The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                           In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4       Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States
5                                  In the title of an Aesop fable, this insect shared billing with a grasshopper
6                                   Built in 312 B.C. to link Rome & the South of Italy, it's still in use today
7                                         No. 8: 30 steals for the Birmingham Barons; 2,306 steals for the Bulls
8  In the winter of 1971-72, a record 1,122 inches of snow fell at Rainier Paradise Ranger Station in this state
9             This housewares store was named for the packaging its merchandise came in & was first displayed on

           answer
0      Copernicus
1      Jim Thorpe
2         Arizona
3      McDonald's
4      John Adams
5         the ant
6  the Appian Way
7  Michael Jordan
8      Washington
9  Crate & Barrel

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [3]:
def df_filter(df, words):
    new_list = []
    for word in words:
        new_word = '\s' + word + '\s'
        new_list.append(new_word)
    matches = df[df['question'].str.contains('|'.join(new_list), regex=True, case=False)]
    return matches['question']

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [4]:
test_filter = df_filter(df, ['england', 'king'])
print(test_filter.head(5))

40     <a href="http://www.j-archive.com/media/2004-12-31_DJ_26.mp3">Ripped from today's headlines, he was a turtle king gone mad; Mack was the one good turtle who'd bring him down</a>
116                                                                                                                 She was born in Virginia around 1596 & died in Kent, England in 1617
296                                                                                             On December 27, 1831 it departed Plymouth, England to map the coastline of South America
386                                                                                               The Tanglewood Music Festival is a summer highlight in Lenox in this New England state
781                                                                                                             A Norman could say, "I'm the king of the motte-and-bailey style of" this
Name: question, dtype: object

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [8]:
df.value = df['value'].replace('[\$,None]', '', regex=True)
df['floats'] = pd.to_numeric(df.value)
print(df.floats.head(10))

0    200.0
1    200.0
2    200.0
3    200.0
4    200.0
5    200.0
6    400.0
7    400.0
8    400.0
9    400.0
Name: floats, dtype: float64

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [28]:
def df_answers(df, words):
    new_list = []
    for word in words:
        new_word = '\s' + word + '\'?\w?\s'
        new_list.append(new_word)
    matches = df[df['question'].str.contains('|'.join(new_list), regex=True, case=False)]
    return matches[['question', 'floats', 'answer']]

answers_test = df_answers(df, ['banana', 'monkey'])
all_answers = df_answers(df, ['\w'])

print(answers_test.head(10))
print(answers_test.columns)
print(answers_test.floats.mean())
print(answers_test.floats.median())
print(answers_test.floats.std())
print(all_answers.answer.unique)

                                                                                                                                                                            question  \
1546                                                                  This Brit comic cross-dresser: "Guns don't kill people, people do... but monkeys do too, if they've got a gun"
2873                                                                                  This snack cake, which turned 60 in 1990, was originally filled with banana creme, not vanilla
4619                                                                              When this Mouseketeer starred in "The Monkey's Uncle", she sang the title tune with The Beach Boys
4996                                                                                                                                            Quality of ice, eels, & banana peels
6355                                                                                                                        Kangaroos, monkeys & Boy Scouts all come in these groups
6782                                                                                                        After the taping, what say we cool off with a frozen banana one of these
8477   We are bananas about <a href="http://www.j-archive.com/media/2011-04-22_DJ_20.jpg" target="_blank">this</a> celebrity stylist; the show titled her "Project" is seen on Bravo
9568                                                                   Dare: Imitate Kikazaru, the monkey who illustrates this phrase that goes with "see no evil" & "speak no evil"
11951                                                                          The book "Fashionable Food" tells how to make a "truly awful" salad with a banana & this cinema snack
12000                                                                                                                  The smallest of all monkeys is the pygmy type of this primate

       floats             answer
1546   2000.0       Eddie Izzard
2873    300.0           Twinkies
4619    100.0  Annette Funicello
4996    400.0       slipperiness
6355    200.0             troops
6782    400.0           daiquiri
8477   2000.0         Rachel Zoe
9568    200.0     "hear no evil"
11951   100.0            popcorn
12000  1000.0         a marmoset
Index(['question', 'floats', 'answer'], dtype='object')
751.9607843137255
600.0
539.3355503700625
<bound method Series.unique of 0                             Copernicus
1                             Jim Thorpe
2                                Arizona
3                             McDonald's
4                             John Adams
                       ...
216924                             Stomp
216925                          Turandot
216926                        a titmouse
216928                          Geronimo
216929    Grigori Alexandrovich Potemkin
Name: answer, Length: 188256, dtype: object>